* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;

}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
}


body {
    background-color: blanchedalmond;
}

.save {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-110%);
    transition: transform 0.3s linear;
    border-radius: 40px;
    background-color: rgb(146, 3, 3);
    border: 15px solid rgb(146, 3, 3);
    color: rgb(254, 254, 254);
    font-size: larger;
    margin: 5px 5px 0px 0px;

}

.card:hover .save {

    transform: translateY(0);
}

.share {
    position: absolute;
    bottom: 0;
    right: 60px;
    margin-left: 10px;
    transform: translateY(60px);
    transition: transform 0.3s linear;
    width: 50px;
    height: 50px;
    border-radius: 120px;
    margin: 0px 5px 5px 0px;
    border: none;

}

.card:hover .share {

    transform: translateY(0);
}

.logo-share,
.logo-ellipsis,
.logo-arrow {


    width: 20px;
    height: 20px;
}

.ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 10px;
    transform: translateY(60px);
    transition: transform 0.3s linear;
    width: 50px;
    height: 50px;
    border-radius: 120px;
    margin: 0px 5px 5px 0px;
    border: none;

}

.card:hover .ellipsis {

    transform: translateY(0);
}

.paragraph {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    left: 10px;

    transform: translateY(60px);
    transition: transform 0.3s linear;
    width: 130px;
    height: 20px;
    border-radius: 120px;
    margin: 0px 5px 5px 0px;
    border: none;
    background-color: white;
    text-align: center;
    font-weight: 900;
    padding: 10px 10px 30px 10px;

}

.logo-arrow {
    padding: 10px 10px 0px 10px;
}

.card:hover .paragraph {

    transform: translateY(0);
}