* {
    margin: 0;
    padding: 0;

}

.header {
    background-color: #222f3e;
    padding: 5px 0 5px 0;
}

.header-img {
    width: 120px;
    padding-left: 20px;
}

.navbar {
    background-color: #354758;
    padding: 5px 0 5px 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 5px 0 20px;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EAEDED;
}

.main-container {
    padding: 20px;
}

.shop {
    text-align: center;
    background-color: #f56600;
    padding: 10px 0 10px 0;


}

.shop a {
    color: white;
    text-decoration: none;

}

.holiday-banner {
    position: relative;
    width: 100%;

}

.img-banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 15px 0 15px 0;
}

.title-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.title-banner p {
    color: white;
    padding: 10px 0 10px;
    text-align: center;
}

.title-banner h1 {
    color: white;
}

.card-container a {
    padding-left: 20px;
    font-size: large;
    text-decoration: none;
    color: #2F6E60;
}

.card-container {
    width: 100%;
    background-color: white;


}

.img-div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    padding: 15px;
    text-align: left;
}

.card-container img {
    object-fit: cover;
    margin: 15px;
    width: 300px;
    height: 400px;
    border-radius: 12%;
    box-shadow: 10px 5px 7px rgba(0, 0, 0, 0.298);
}

.img-container {
    padding: 25px 0 25px 0;
    text-align: center;
}

.img-container a {
    padding-left: 20px;
    font-size: large;
    text-decoration: none;
    color: #2F6E60;
}

.img-container h2 {
    padding-top: 5px;
}

.immagine {
    object-fit: cover;
    width: 100%;
    height: 500px;


}

.footer {
    height: 20px;
    background-color: #354758;
    text-align: center;
    padding: 10px 0 10px 0;
}

.footer a {
    color: white;


}

.footer-logo {
    background-color: #222f3e;
    text-align: center;
}

.footer-logo img {
    width: 250px;
    padding: 20px 0 20px 0;
}

.prova {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.accessories-container img {
    width: 150px;
    height: 150px;

}

.container-max {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 30px 0;
    margin: 30px 0 30px 0;


}

.accessories-container .title-container {

    padding-left: 60px;
    margin: 10px 0px 10px 0px;
}

.accessories-container {
    width: 450px;
    height: 500px;
    background-color: white;
}

.parents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.accessories-container .child {
    width: 150px;
    height: 150px;
    padding: 5px 0 10px 0;
}

.child h4 {
    padding: 10px 0 10px 0;
}

.link-container {
    padding: 30px 0 10px 60px;
    margin-top: 20px;
}

.link-accessories {
    color: #2F6E60;
    text-decoration: none;
}

.child {
    position: relative;
}

.child .logo-new {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}